<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Skeleton APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card> <!--Se crea un card de ionic para crear formulario de login-->

      <ion-card-header>
        <ion-card-subtitle>Login</ion-card-subtitle>
        <ion-card-title>Bienvenido</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <ion-label position="top-center" >Porfavor ingrese sus datos</ion-label>

        <form [formGroup]="formularioLogin"> <!--Procedemos a solicitar datos del formulario login-->
  
          <ion-item>
            <ion-label position="floating" >Nombre</ion-label> <!--Dato numero 1-->
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label position="floating" >Contraseña</ion-label> <!--Dato nuemro 2-->
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <br>
          <ion-button slot="start" (click)="ingresar()" >Ingresar</ion-button> <!--EJECUTA LA FUNCION INGRESAR DECLARADA EN login.page.ts-->
        </form>
        <br>
        
        <ion-button slot="end" [routerLink]="['/registro']" >Registrarse</ion-button> <!--REDIRECCIONA A LA PAGE DE REGISTRO-->
      </ion-card-content>

    </ion-card>

    <br>
  
  
    

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    Devel. by: Jose Cornejo/Moises Rubio
  </ion-toolbar> 
</ion-footer>
